{% extends "base.html" %}

{% block content %}
    <h1>Add Link</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.thelink.label }}<br>
            {{ form.thelink(size=128) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}