<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Database</title>
      {% else %}
      <title>Welcome to your database</title>
      {% endif %}
    </head>
    <body>
        <div>Database: 
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('addlink') }}">Add Link</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>